@import "../settings/index";

.el-select {

  .el-input {

    //&__inner {
    //  height: 52px !important;
    //  line-height: 52px !important;
    //  padding: 0 $indent-medium 0 !important;
    //}

    &__inner {
      height: 52px !important;
      line-height: 20px !important;
      padding: $indent-large $indent-medium 0 !important;
    }
  }
}
