$indent-xsmall: 4px;
$indent-small: 8px;
$indent-medium: 16px;
$indent-large: 24px;
$indent-xlarge: 32px;

$radius-medium: 8px;

$media-xs: 720px;

$font-size-small: 12px;
$font-size-caption: 14px;
$font-size-body: 16px;

$font-weight-semi: 600;
